<h2 *ngIf="isEmpty" class="empty-cart-message">There is no product in the cart.</h2>
<div *ngIf="!isEmpty" class="cart-container">
  <div class="cart-panel">
  <div class="cart-item" *ngFor="let product of products">
    <img src="{{ product.url }}">
    <div class="cart-item-details">
      <p>{{ product.name }}</p>
      <p>${{ product.price }}</p>
      <label>Amount:</label>
      <!-- <input class="number-input" type="number" max="1" ngModel="{{product.quantity}}" (ngModelChange)="onChange($event, product)"> -->
      <select class="select-input" ngModel="{{product.quantity}}">
        <option *ngFor="let option of options">{{option}}</option>
      </select>
    </div>
  </div>
  <h3>Total: {{ total }}</h3>
  </div>
  <form class="cart-panel form-margin" #form="ngForm" (ngSubmit)="submitConfirmationForm()">
    <p>Full Name:</p>
    <input type="text" name="fullName" required minlength="3" maxlength="50" placeholder="Minimum 3 characters" [(ngModel)]="fullName">
    <p>Address:</p>
    <input type="text" name="address" required minlength="6" maxlength="200" placeholder="Minimum 6 characters" [(ngModel)]="address">
    <p>Credit Card Number:</p>
    <input type="number" name="creditCardNumber" required maxlength="16" oninput="this.value=this.value.slice(0,this.maxLength)" placeholder="16 digits number" [(ngModel)]="creditCardNumber">
    <p>We'll never share your payment information with anyone.</p>
    <input type="submit" [disabled]="form.invalid" value="Submit">
  </form>
</div>
